/backend/.env
/backend/venv
/backend/__pycache__/
/backend/db.sqlite3
/backend/*.pyc
/backend/*.pyo
/backend/*.pyd
/backend/api/__pycache__/
/backend/api/migrations
/backend/api/migrations/__pycache__/
/backend/api/views/__pycache__/
/backend/mysite/__pycache__/