<!DOCTYPE html>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
    <title>Homepage</title>
</head>
<body>


<h1>Time-Table Generator</h1>
<h2>Select your courses:</h2>

<!-- disciplines=[,'CS',,'DS',,'EE','ME''MT''MSME''LA','PH','BM''CY','EC','EVT',,'MA',,'NA'] -->

<form method="post">
    {% csrf_token %}

<div class="collapsible-container">

    <div class="container-member">
        <label class="collapsible">________________CS_______________▼</label>
        <div class="content">
            {% for code in CS %}
                <br><label><input type="checkbox" name="option" value={{code}}> {{ code }}</label>
            {% endfor %}
        </div>
    </div>
    <div class="container-member">
        <label class="collapsible">________________DS_______________▼</label>
        <div class="content">
            {% for code in DS %}
                    <br><label><input type="checkbox" name="option" value={{code}}> {{ code }}</label>
                {% endfor %}
        </div>
    </div>
    <div class="container-member">
        <label class="collapsible">________________EE_______________▼</label>
            <div class="content">
                {% for code in EE %}
                    <br><label><input type="checkbox" name="option" value={{code}}> {{ code }}</label>
                {% endfor %}
            </div>
    </div>


</div><br><br><br>
<div class="collapsible-container">

    <div class="container-member">
        <label class="collapsible">________________ME_______________▼</label>
            <div class="content">
                {% for code in ME %}
                    <br><label><input type="checkbox" name="option" value={{code}}> {{ code }}</label>
                {% endfor %}
            </div>
    </div>
    <div class="container-member">
        <label class="collapsible">________________MT_______________▼</label>
        <div class="content">
            {% for code in MT %}
                <br><label><input type="checkbox" name="option" value={{code}}> {{ code }}</label>
            {% endfor %}
        </div>
    </div>
    <div class="container-member">
        <label class="collapsible">________________MSME_______________▼</label>
        <div class="content">
            {% for code in MSME %}
                    <br><label><input type="checkbox" name="option" value={{code}}> {{ code }}</label>
                {% endfor %}
        </div>
    </div>


</div><br><br><br>
<div class="collapsible-container">


    <div class="container-member">
        <label class="collapsible">________________LA_______________▼</label>
            <div class="content">
                {% for code in LA %}
                    <br><label><input type="checkbox" name="option" value={{code}}> {{ code }}</label>
                {% endfor %}
            </div>
    </div>

</div><br><br><br>
<div class="collapsible-container">

    <div class="container-member">
        <label class="collapsible">________________BM_______________▼</label>
        <div class="content">
            {% for code in BM %}
                <br><label><input type="checkbox" name="option" value={{code}}> {{ code }}</label>
            {% endfor %}
        </div>
    </div>
    <div class="container-member">
        <label class="collapsible">________________CY_______________▼</label>
        <div class="content">
            {% for code in CY %}
                    <br><label><input type="checkbox" name="option" value={{code}}> {{ code }}</label>
                {% endfor %}
        </div>
    </div>
    <div class="container-member">
        <label class="collapsible">________________PH_______________▼</label>
            <div class="content">
                {% for code in PH %}
                    <br><label><input type="checkbox" name="option" value={{code}}> {{ code }}</label>
                {% endfor %}
            </div>
    </div>

</div><br><br><br>
<div class="collapsible-container">

    <div class="container-member">
        <label class="collapsible">________________EC_______________▼</label>
        <div class="content">
            {% for code in EC %}
                <br><label><input type="checkbox" name="option" value={{code}}> {{ code }}</label>
            {% endfor %}
        </div>
    </div>
    <div class="container-member">
        <label class="collapsible">________________EVT_______________▼</label>
        <div class="content">
            {% for code in EVT %}
                    <br><label><input type="checkbox" name="option" value={{code}}> {{ code }}</label>
                {% endfor %}
        </div>
    </div>
    <div class="container-member">
        <label class="collapsible">________________MA_______________▼</label>
            <div class="content">
                {% for code in MA %}
                    <br><label><input type="checkbox" name="option" value={{code}}> {{ code }}</label>
                {% endfor %}
            </div>
    </div>

</div><br><br><br>

<br><br><button type="submit">Submit</button>


</form>
<br>
{% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
            <a href="/view-pdf">{{ message }}</a>
        {% endfor %}
    </div>
    {% endif %}
</body>

</html>