<!DOCTYPE html>


<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <style>
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<h1>Time-Table Generator</h1>
<h2>Select your courses:</h2>

<!-- disciplines=['BM','CS','CY','DS','EC','EE','EVT','LA','MA','ME','MSME','MT','NA','PH'] -->

<form method="post">
    {% csrf_token %}


<div class="dropdown" >
<label>BM</label>

  <div class="dropdown-content">
      {% for code in BM %}
        <label><input type="checkbox" name="option" value={{code}}> {{ code }}</label><br>
      {% endfor %}
  </div>

</div>
<div class="dropdown" >
<label>CS</label>

  <div class="dropdown-content">
      {% for code in CS %}
        <label><input type="checkbox" name="option" value={{code}}> {{ code }}</label><br>
      {% endfor %}
  </div>

</div>
<div class="dropdown" >
<label>CY</label>

  <div class="dropdown-content">
      {% for code in CY %}
        <label><input type="checkbox" name="option" value={{code}}> {{ code }}</label><br>
      {% endfor %}
  </div>

</div>
<div class="dropdown" >
<label>DS</label>

  <div class="dropdown-content">
      {% for code in DS %}
        <label><input type="checkbox" name="option" value={{code}}> {{ code }}</label><br>
      {% endfor %}
  </div>

</div>
<div class="dropdown" >
<label>EC</label>

  <div class="dropdown-content">
      {% for code in EC %}
        <label><input type="checkbox" name="option" value={{code}}> {{ code }}</label><br>
      {% endfor %}
  </div>

</div>
<div class="dropdown" >
<label>EE</label>

  <div class="dropdown-content">
      {% for code in EE %}
        <label><input type="checkbox" name="option" value={{code}}> {{ code }}</label><br>
      {% endfor %}
  </div>

</div>
<div class="dropdown" >
<label>EVT</label>

  <div class="dropdown-content">
      {% for code in EVT %}
        <label><input type="checkbox" name="option" value={{code}}> {{ code }}</label><br>
      {% endfor %}
  </div>

</div>
<div class="dropdown" >
<label>LA</label>

  <div class="dropdown-content">
      {% for code in LA %}
        <label><input type="checkbox" name="option" value={{code}}> {{ code }}</label><br>
      {% endfor %}
  </div>

</div>
<div class="dropdown" >
<label>MA</label>

  <div class="dropdown-content">
      {% for code in MA %}
        <label><input type="checkbox" name="option" value={{code}}> {{ code }}</label><br>
      {% endfor %}
  </div>

</div>
<div class="dropdown" >
<label>ME</label>

  <div class="dropdown-content">
      {% for code in ME %}
        <label><input type="checkbox" name="option" value={{code}}> {{ code }}</label><br>
      {% endfor %}
  </div>

</div>
<div class="dropdown" >
<label>MSME</label>

  <div class="dropdown-content">
      {% for code in MSME %}
        <label><input type="checkbox" name="option" value={{code}}> {{ code }}</label><br>
      {% endfor %}
  </div>

</div>
<div class="dropdown" >
<label>MT</label>

  <div class="dropdown-content">
      {% for code in MT %}
        <label><input type="checkbox" name="option" value={{code}}> {{ code }}</label><br>
      {% endfor %}
  </div>

</div>
<div class="dropdown" >
<label>PH</label>

  <div class="dropdown-content">
      {% for code in PH %}
        <label><input type="checkbox" name="option" value={{code}}> {{ code }}</label><br>
      {% endfor %}
  </div>

</div>





<!--  -->

<br><br><button type="submit">Submit</button>


</form>
<br>
{% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
            <a href="/view-pdf">{{ message }}</a>
        {% endfor %}
    </div>
    {% endif %}
</body>

</html>